body {
    font-family: "Arial", sans-serif;
}

section {
    text-align: center;
}

.game--container {
    display: grid;
    margin: auto auto;
}

.cell {
    font-family: "Permanent Marker", cursive;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
@keyframes winner {
    from {background-color: #ff6600;}
    to {background-color: #1add24;}
}
.winner-cell {
    animation-name: winner;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}